body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
.signup-btn {
     background-color: #cc9e6d;
    color: white;
    border: solid;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.signup-btn:hover {
    background-color: #000000;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.login-box {
    background-color: #d7e5e7;
    padding: 60px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-title {
    color: #628E90;
    margin-bottom: 20px;
    font-size: 24px;
}

.login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cc9e6d;
    border-radius: 5px;
}

.login-button {
    background-color: #628E90;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.login-button:hover {
    background-color: #000000;
}

.signup-prompt {
    margin-top: 15px;
    color: #628E90;
}

.signup-link {
    color: #cc9e6d;
    text-decoration:wavy;
}

.signup-link:hover {
    text-decoration: underline;
}

